@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", system-ui;
}

body {
    background-color: #191919;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    color: white;

}

.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
}

canvas {
    background-color: #111;
    width: 700px;
}

.pontuacao-p1,
.pontuacao-p2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.8rem;
}

.pontuacao-value-p1,
.pontuacao-value-p2 {
    font-weight: 500;
    font-size: 7.5rem;
    display: block;
    margin-top: 80px;
}

.menu-screen {
    position: absolute;
    display: none;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.state-game {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 3rem;
}

.pontuacao-final {
    font-weight: 500;
    font-size: 1.5rem;
}

.btn-play,
.btn-menu {
    border: none;
    border-radius: 100px;
    padding: 10px 15px 10px 12px;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.conainer-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

}

.multplayer,
.singleplayer {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #111;
    width: 40%;
    height: 50px;
    color: white;
    font-weight: 200;
    font-size: 20px;
    border: none;
    border-radius: 10px;


}

.title{
    margin-bottom: 300px;
    font-size: 100px;
    
}

.social-midia{
    display: flex;
    width: 70%;
    justify-content: space-evenly;
   
}

.icons{
    font-size: 40px;
    color: white;
}
